
  * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .bgcolormod img {
  max-width: 100vw;
  height: auto;
  object-fit: cover;
  display: block;
}

      body {
        margin: 0;
        background-color: #ffffe7;
        overflow-x: hidden;
        display: flex;
          flex-direction: column;
      }

                h1,h2,h3,h4,.title{
 font-family: Jua, Arial, "Kiwi Maru", "Noto Sans TC";
 
      }
      p,span,form {
        margin-bottom: 2px !important;
        letter-spacing: 1px!important;
        line-height: 2rem !important;
        font-family: Jua, Arial, "思源黑體", "Noto Sans TC";
        font-size: 1.25rem; 

      }
      
   

 .bgcolormod {
  z-index: -999;
  position: absolute; /* 改為絕對定位 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* 避免擋住滑鼠操作 */
}

.bgcmod-01,
.bgcmod-02,
.bgcmod-03 ,
.bgcmod-04,
.bgcmod-05,
.bgcmod-06{
  position: absolute;
  overflow: hidden;
}

.bgcmod-01 {
  left: 0;
  top: 64vh;
}

.bgcmod-02 {
  right: 0;
  top: 84vh;
}

.bgcmod-03 {
  right: 0;
  bottom: -210vh;
}
.bgcmod-04{
  left: -11vh;
  top: 269vh;
}

.footer a {
  color: inherit;
  text-decoration: none;
}



.bgcmod-05 {
  left: 0;
  top: 0;
}
.bgcmod-06{
  right: -5%;
  bottom: -40%;
  }
@media (max-width: 1024px) {

.bgcmod-02 {
    right: 0;
    top: 160vh;}


}
 @media (max-width: 768px) {
  
h1,h2,h3,h4,.title{
 font-family: Jua, Arial, "思源黑體" "Noto Sans TC";
 
      }
      p,span,form {
        margin-bottom: 2px !important;
        letter-spacing: 1px!important;
        line-height: 2rem !important;
        font-family: Jua, Arial, "思源黑體", "Noto Sans TC";
        font-size: 1.25rem; 

      }

 body {
        margin: 0;
        background-color: #ffffff;
        overflow-x: hidden;
        display: flex;
          flex-direction: column;
      }


.bgcmod-01,
.bgcmod-02,
.bgcmod-03 ,
.bgcmod-04,
.bgcmod-05,
.bgcmod-06{
opacity: 0.6;



 }


.bgcmod-03{
    right: 0;
  top: 288vh;
  width: 180px;
  height: auto;
 
}
.bgcmod-04{
  left: -11vh;
  top: 330vh;
}



}
/* @media screen and (max-width: 430px) {
      .bgcmod-04 {
      display: none;
      }
  
} */