      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
html {
  scroll-behavior: smooth;
}
      body {
        margin: 0;
        background-color: #ffffe7;
        font-family: Jua, Arial, "Kiwi Maru", "Noto Sans TC";
        overflow-x: hidden;
      }
      p {
        margin-bottom: 2px !important;
        letter-spacing: 1px !important;
        line-height: clamp(1.3rem, 6vw, 2.3rem) !important;
      }
 .top {
        display: flex;
        max-width: 1200px;
        width: 100%;
        margin: 12vh auto 3vh;
      }
      .btn-item {
            align-items: center;
            width: 100%;
            display: flex;
            gap: 16px;
            list-style: none;
            padding: 0;
            margin-top: 16px;
            flex-direction: row;
            justify-content: space-evenly;
      }
      .Btn {padding: 0.5vh;
        font-size: 24px;
        text-align: center;
        background-color: #8aba65;
        border-radius: 32px;
        display: flex;
        z-index: 3;
        align-items: center;
        cursor: pointer;
        margin-top: 5%;
        position: relative;
        
        padding-left: 3vh;
        transition: transform 0.2s ease;
      }
      .Btn span {
padding: 10px 10px 4px 15px;
        color: #fff;
        align-items: center;     /* 垂直置中 */


      }

      .iconOrder,
      .iconOrderHover {
        position: absolute;
        margin-left: 1.3vh;
        left: 0;
        width: 24px;
        height: 24px;
        transition: opacity 0.5s ease;
        user-select: none;
        pointer-events: none;
      }

      .iconOrderHover {
        opacity: 0;
      }

      .Btn:hover {
        background-color: #fcfcc7;
           transform: translateY(-5px);

      }

      .Btn:hover span {
        color: #7a6f46;
      }

      .Btn:hover .iconOrder {
        opacity: 0;
      }

      .Btn:hover .iconOrderHover {
        opacity: 1;
      }
      .Q {
        position: absolute;
        left: 0;
        bottom: 19vh;
      }
.information .divider {
  text-align: center;
}

.information .divider hr{
  width: 100%;
}
 

.dogicon {
    position: absolute;
    margin-top: 0.5rem;
    height: auto;
    right: 0;
    bottom: 0vh;
    width: 14vw;

}
.divider {
    position: relative;
}
section{
  margin: 5vh auto;
  padding: 5vw;
}
section.quelist {
    width: 100%;
    /* margin: 5vh auto; */
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}
h2{
font-size: 2rem;
    margin-top: 3.5vh;
    margin-bottom:5vh;
    text-align: center;
}
.queitem {
    display: flex;
    justify-content: flex-start;
    margin: 1vh auto;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    position: relative;
    flex-direction: column;


}
.que-txt{
  flex-wrap: nowrap;
  gap: 20px;
}
.plusicon{
  position: absolute;
  right:0

  
}
.a li{
      font-family: Jua, Arial, "思源黑體", "Noto Sans TC";
    font-size: 1.25rem;
}

@keyframes rotateOnce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.plusicon img {
  cursor: pointer;
}

.plusicon img.clicked {
  animation: rotateOnce 0.6s ease;
}
.q{
    margin: 1vh;
    gap:20px;
    display: flex;
         text-align: justify;

}

.a{
    margin: 1vh;
    gap:20px;
    display: flex;
         text-align: justify;

}
.a p{
  padding-right: 3%;
}
.a > div {
  flex: 1;
}

.hidden {
  display: none;
}
.que hr {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #ccc;
}

.que{
  width: 100%;
}

h3{
  font-size: 1.5rem;
  margin-bottom: 2px !important;
  letter-spacing: 1px !important;
  line-height: clamp(1.3rem, 6vw, 2.3rem) !important;
   padding-block: 1vh;

}
.Qicon img{
  width: 30vh;
  position: absolute;
  left: 10vh;
  top: 17vh;
}
.drawingLeaf{
 position: absolute;
 top: 25vh;
 right: 9vh;
 width: 200px;
 height: auto;
 z-index: 0;
 }

 .card-carousel {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.card {
max-width: 1200px;
  width: 80vw;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 32px;
  padding: 5vh;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  gap: 2vw;
  margin: 0 auto;

}

.card.active {
  display: flex;
}

.card-txt {
  flex: 1;
}

.card-txt ul{
    
    display: flex;
    gap: 15px;
}
li{
  font-size: 1.25rem;
  margin-block: 2vh;
}
.card-pic {
  max-width: 470px;
  flex: 1;
}

.card-pic img {
  width: 100%;
  border-radius: 8px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
}

.carousel-btn.prev {
  left: -30px;
  transform: translateY(-50%) rotate(270deg);
}

.carousel-btn.next {
  right: -30px;
  transform: translateY(-50%) rotate(90deg);
}

.carousel-btn img {
  width: 100%;
}

.qualifications{
    display: flex;
    max-width: 1200px;
    margin: auto;
}
.qualifications-txt,.qualifications-pic{
    flex:1;
    margin: auto;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.qualifications-pic{
    /* width: 50%; */
    border-radius: 32px;
    overflow: hidden;
}
.qualifications-pic img{
    width: 100%;
    border-radius: 32px;

}
.qualifications-txt p {
    text-align: justify;
}
.qualifications-txt p {
    text-align: justify;
}
.title{
    text-align: center;
}
.bgdog {margin: 0 auto;max-width: 1200px;}

img.dogpic {
    width: 100%;
    border-radius: 32px;
}
@media screen and (max-width: 1440px) {
  
  .drawingLeaf{
    opacity: 0.3 !important;
  }
}

@media screen and (max-width: 1440px) {

section h3,section p{
     padding-inline: 10px;
     margin-right: 15px;

}

}
@media screen and (max-width: 1024px) {

.qualifications {
  
    flex-direction: column;
}
.bgdog {
  margin: 2%;
  max-width: 1200px;
}




}

@media screen and (max-width: 768px) {

  body {
 
        background-color: #ffffff;
      }


  .drawingLeaf{
    display: none;
  }
    .btn-item {
     align-items: center;
    width: 100%;
    display: inline;
    list-style: none;
    padding: 0;
    margin-top: 16px;

    }
   
      .Btn {
        padding: 0.5vh;
        font-size: 24px;
        text-align: center;
        
        background-color: #8aba65;
        border-radius: 32px;
        display: flex;
        z-index: 3;
        align-items: center;
        cursor: pointer;
        margin-top: 2%;
        position: relative;
        justify-content: center;
        padding-left: 3vh;
        transition: transform 0.2s ease;
      }

      .Btn span {
        color: #fff;
        align-items: center;   
      }
.iconOrder, .iconOrderHover {
            position: absolute;
        left: 35%;
                margin: 5px;
        height: 24px;
        transition: opacity 0.5s ease;
        user-select: none;
        pointer-events: none;
}
     .card {
    flex-direction: column;
}
.carousel-btn{
  display: none;
}
.Qicon img {
    width: 23vh;
    position: absolute;
    left: -1vh;
    top: 36vh;
}



}

    
