  * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        margin: 0;
        background-color: #ffffe7;
        overflow-x: hidden;
        padding-top: 80px;
       

      }
      h1,h2,h3,h4,.title{
        line-height: 1.6;
 font-family: Jua, Arial, "Kiwi Maru", "Noto Sans TC";
 
      }
      p,span {
        margin-bottom: 2px !important;
        letter-spacing: 1px !important;
        line-height: 2rem !important; 
        font-family: Jua, Arial, "思源黑體", "Noto Sans TC";
        font-size: 1.2rem;;

      }
 .header{
          font-family: Jua, Arial, "Kiwi Maru", "Noto Sans TC" in !important;

 }

      .bgimg {
        width: 100%;
        position: absolute;
      }

      .heroBanner {
        margin-bottom: 4rem;
        width: 100%;
        position: relative;
      }

     .banner-img {
        position: relative;
        display: flex;
        align-content: space-between;
        justify-content: space-around;
      }


      .mask-img {
        display: flex;

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow-x: hidden;
        z-index: 5;
        pointer-events: none;
      }

      .masked-image {
        width: 100%;
        height: auto;
        max-width: 100%;
        object-fit: cover;
        display: block;
        line-height: 0;
      }
      .mask-img img {
  width: 100%;
  height: auto;
}

      .heroBanner .text {
       position: absolute;
        bottom: 35%;
        left: 20%;
        justify-content: space-between;
        text-align: center;
        color: #845151;
        font-size: 2.9vw;
        z-index: 8;
        line-height: 1.6;

        align-content: center;
      }

      @media screen and (min-width: 1200px) {
        .text {
          font-size: 42px;
        }
      }

      .shadowmask {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60%;
        background: linear-gradient(
          to top,
          rgba(80, 66, 11, 100),
          rgba(186, 179, 101, 0)
        );
        z-index: 4;
      }

      .brandMessage {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        z-index: 10
      }
      .intro-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
      }
      .drawingLeaf {
        position: absolute;
        top: 20px;
        right: 5%;
        width: 16%;
        height: auto;
        z-index: 0;
      }

      .drawingLeaf img {
        width: 100%;
        height: auto;
        transform: rotate(20deg);
      }

      .intro-banner .title {
        font-size: 2.9vw;
        margin-bottom: 3.8rem;
        text-align: center;
        flex-wrap: wrap;
      }

  .brandMessage .bimg {
/*     width: 100%; */
   margin-inline:8%
    max-width: 1200px;
    height: auto;
    aspect-ratio: 1200 / 522.176;
    border-radius: 32px;
    overflow: hidden;
}

      .bimg img {
        width: 100%;
        display: block;
      }

     .intro-aboutme {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;

  margin: 5% auto;
  padding: 2%;
  max-width: 1200px;
  width: 100%;
  font: inherit;
}
.intro-section {
    width: 100%;
    margin: auto;
}
      h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
        line-height:1.6;
      }
      .intro-txt .intro-img {
        padding-inline: 20px;
        width: 100%;
      }

      .intro-aboutmeal {
        position: relative;

        display: flex;
        flex: 1;
        margin: 5% auto;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        gap: 20px;

        font-size: 100%;
        font: inherit;
        justify-content: space-around;
        padding: 2%;
        vertical-align: baseline;
      }
      .intro-img2 {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        position: relative;
      }
      .intro-img2-right,
      .intro-img2-left {
        width: 80%;
        height: auto;
        padding: 10px;
        border-radius: 32px;
        overflow: hidden;
        position: relative;
      }
      .intro-img2-right {
        margin-top: 8%;
      }
      .intro-img2-left {
        margin-bottom: 8%;
      }

      .intro-img2 img {
        border-radius: 32px;
      }

  .drawingKinoko {
        position: absolute;
        left: -31vh;
        height: auto;
        z-index: -1;
        pointer-events: none;
      }
.intro-txt,.intro-txt2{
  display: flex;
  padding-right:1vh;
  text-align: justify;
  padding:10px;
  flex-wrap: wrap;
}
  .intro-btn {
    /* display: flex; */
    justify-content: center;
    align-items: center; /* 垂直置中（如果你希望的話） */
    width: 100%;
    position: relative;
  }
  /* .readmoreBtn {
  background-color: #8aba65;
  border-radius: 32px;
  padding: 10px 10px 10px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: max-content;
  z-index: 3;
  font-size: 24px;
  transition: transform 0.2s ease;} */
      .readmoreBtn {
        margin-top: 3vh;
        margin-left: auto;
        position: absolute;
        right: 0%;
        background-color: #8aba65;
        border-radius: 32px;
        padding: 10px 10px 10px 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
        width: max-content;
        margin-top: 5%;
        justify-content: flex-end;
        z-index: 3;
        font-size:24px;
          transition: transform 0.2s ease;

      }
      .intro-txt {
  flex: 1 1 ;  
  /* max-width: 600px; */
  word-break: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
}
    .intro-txt2>.readmoreBtn{
        bottom: 0;

      }
      .dogManager-txt>.readmoreBtn{
        bottom: -11vh;
      }

      .readmoreBtn span {
        padding: 10px 10px 10px 30px;
        color: #fff;
      }

      .iconOrder,
      .iconOrderHover {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        transition: opacity 0.5s ease;
        user-select: none;
        pointer-events: none;
      }

      .iconOrderHover {
        opacity: 0;
      }

      .readmoreBtn:hover {
        background-color: #fcfcc7;
           transform: translateY(-5px);

      }

      .readmoreBtn:hover span {
        color: #7a6f46;
      }

      .readmoreBtn:hover .iconOrder {
        opacity: 0;
      }

      .readmoreBtn:hover .iconOrderHover {
        opacity: 1;
      }

      .menu {
        width: 100%;
        margin-inline: auto;
        margin-top: 8vh;
        margin-bottom: 12vh;
        padding: 10px 0;
        z-index: 5;
        position: relative;
      }

      .menutxt {
        font-size: 32px;
        text-align: center;
        margin-bottom: 40px;
      }

      .menucard-list {
        max-width: 1200px;
        display: flex;
        justify-content: space-around;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 5vh;
        margin-left: auto;
        margin-right: auto;
        width: auto;
      }

      .menucard {
        flex: 1;
        max-width: 270px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        text-align: center;
        transition: transform 0.3s ease;
        z-index: 3;
        background-color: #707070;
        width: 100%;
        height: auto;
      }

      

      .menucard:hover {
        transform: translateY(-5px);
      }

      .menu-card-img img {
        width: 100%;
  height: 100%;
  object-fit: cover; /* 這樣圖片會填滿容器但不變形 */
  display: block;
      }
.bkforphone{
  display:none;
  background-color:#70707054;
  width: 100%;
  height: auto;
  z-index: 99;
}
.bkforphone p{
  color: white;
}
      .menu-card-txt {
        margin: 20px 0;
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
      
      }
      .menu-card-txt p{
          letter-spacing:5px;
      }

      .drawingFish {
        position: absolute;
        right: 100px;
        left: 0;

        height: auto;
        z-index: 0;
        pointer-events: none;
      }
      .drawingPaw {
        position: absolute;
        top: 20px;
        right: -16vh;
        width: 200px;
        height: auto;
        z-index: 0;
        pointer-events: none;
      }
           .drawingPaw2 {
        position: absolute;
        bottom: -7vh;
        left: -12vh;
        height: auto;
        z-index: 0;
        pointer-events: none;
        transform: rotate(15deg);
        width: 100%;
      }
      .drawingC {
        position: absolute;
        right: 35vw;
        height: auto;
        z-index: 0;
        pointer-events: none;
        top: 21vw;
      }
     

      .dog-section {
        width: 100%;
        max-width: 1920px;
        display: flex;
        position: relative;
        margin-block: 3vh;
        flex-wrap: wrap;
        margin-top: 1vw;
        background-color: white;
      }
      .dogbanner {
        position: relative;
        display: flex;
        width: 100%;
        /* max-width: 1920px; */
        margin: 0 auto;
      }
      .colormod-rg {
        position: absolute;
        bottom: -20vw;
        z-index: 1;
        pointer-events: none;
        width: 20px;
        height: auto;
        right: 25vw;
      }
      .dogbanner > img {
        width: 100%;
        height: auto;
      }
      .colormod-ly {
        position: absolute;
        left: 0;
        top: 30vh;
        z-index: 1;
        pointer-events: none;
        width: 20px;
      }
      .runningdog-video {
        width: 100%;
        height: auto;
        object-fit: cover; 
        display: block;
      }
      .runningdog-video {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100vh;
  object-fit: cover;
}

      .video-mask {
        max-height: 50vh;
        width: 100%; 
        max-width: 1920px; 
        margin: 0 auto;
        aspect-ratio: 16 / 9; 
        overflow: hidden; 
        
        position: relative;
      }
      .whitemask{
        display: none;
      }
      .drawingshiba {
        position: absolute;
        right: 0;
        top: 47vh;
        z-index: 0;
      }
      .dogManager {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        margin-inline: auto;
        margin-block: 16vh;
        justify-content: center;
        width: 100%;
        max-width: 1200px;
        z-index: 2;
      }
      .dogManager .title{
        padding: 5px;
        text-align: center;
      }
      .dogManager-item {
          flex-wrap: wrap;

        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3vh auto;
        width: 100%;
        padding: 10px;
        height: 300px; 
      }

      .dogManager-img,
      .dogManager-txt {
        display: flex;
        box-sizing: border-box;
        text-align: justify;
        gap: 20px;
        margin-block: 3vh;
        position: relative;
      }
      .dogManager-txt {
        flex: 4;
      }
      .dogManager-img {
        flex: 6;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }
      .dogManager-img img {
       max-height: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
      }

      .dogcard-wraps {
        width: 100%;
        max-width: 1920px;
        background-color: #dbf0da;
        justify-content: center;
        display: flex;
        padding: 2rem 1rem;
        box-sizing: border-box;
        align-items: center;


      }
      .dogcard-list {
        margin: auto;
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        max-width: 1200px;
        justify-content: space-around;
          box-sizing: border-box;
      }


   
      .photowall{
         width: 100%;
         display: flex;
         justify-content: flex-end;
         width: 100%;
         max-width: 1920px;
         padding: 0 2rem;
         box-sizing: border-box;
         margin-top: 4vh;
         z-index: 99;
         align-items: center;
  }

      .spcolor{
color: #8aba65 !important;
}

.bgcould{
  z-index: 0;
  transform: scaleY(-1);
width: 100%;
display: none;
}
.bgcould img{

  display: block;
  width: 100%;

}
@media screen and (max-width: 1440px) {
 .drawingLeaf {
    position: absolute;
    top: -17%;
    right: 12%;
}

.drawingKinoko{
  display: none;
}
 .drawingshiba img,.drawingPaw2 img{
        width: 100%; 
      }
      .drawingshiba{
        width: 300px;
      }
.drawingPaw2{
        width: 300px;
        left: -1%;
        bottom: -18%;
    
}
}


@media screen and (max-width: 1280px) {
.drawingC,.drawingPaw{
    display: none;
  }

  .menu-card-img img {
        width: 100%;
        height: auto;
        display: block;
        height: auto;
      }
  .video-mask{
    display: none;
  }
  .dogcard-wraps {
    display: none;
  }     
  .bgcould{
  display: block;
}
.dogManager{
  margin-top: 0;
}
.drawingshiba{
  top:0;

}
.colormod-rg{
  z-index: -1;
}
 .photowall {
    display: flex;
    z-index: 99;
    flex-direction: column;
    flex-wrap: nowrap;
}

}



@media screen and (max-width: 1024px) {
      .drawingLeaf {
        position: absolute;
        top: -29%;
        right: 0%;
    }
  h1{
    font-size:2rem;
  }
  h2{
    font-size:1.6rem;
  }
  .dogcard {
    flex: 1 1 45%;
  }
    .intro-aboutme {
    flex-direction: column;
    align-items: center;
  }
  .intro-img{
    display: none;
  }
  .intro-img2-right, .intro-img2-left {
    width: 80%;
    height: auto;
    padding: 20px;
    border-radius: 32px;
    overflow: hidden;
    position: relative;
}
.intro-aboutmeal {
   
    flex-direction: column;
}
      .menu-card-img img {
        width: 100%;
        height: auto;
        display: block;
        height: auto;
      }
       .menu-card {
        width: 100%;
 
      }
      .drawingshiba{
         top: -16%;
        right: -3%;
  
      }
      .dogManager-img{
        flex:1;
        padding: 2%;
      }
      
      .dogManager-txt{
        flex:2;
        padding: 2%;

      }
       .drawingPaw2 {
        width: 150px;
        left: 0%;
        bottom: -15%;}

.intro-txt,.intro-txt2,.dogManager-txt,.photowall-txt{
  margin-inline: 8%;
}




}


 @media screen and (max-width: 768px) {
  .masked-image {
  
    margin-top: 83px;}
  .mask-img img,.intro-img2-right,.intro-img2-left {
    display: none;
  }
 .dogcard {
    flex: 1 1 90%;
  }
  .mask-img img.whitemask {
    display: block;
  }
  .menucard-list {
  
    flex-direction: column;
}
   .colormod-rg {
display: none;      }

  .menucard {
    flex: 1;
    max-width: 80%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    transition: transform 0.3s ease;
    z-index: 3;
    background-color: #707070;
    width: 100%;
    height: auto;
            max-height: 330px;

}
.menu-card-txt{
  display: none;
}
.bkforphone{
    display: flex; /* 用 flex 置中 */
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    position: absolute; /* 蓋在圖片上 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* 填滿圖片容器 */
    background-color: rgba(121, 110, 110, 0.26); /* 半透明背景 */
    z-index: 2;
  }
 .menu-card-img {
    position: relative;
     overflow: hidden;
  height: 280px; /* 關鍵設定 */
  }

  .bkforphone h2 {
    color: white;
    font-size: 2rem;
    margin-bottom:0;
  
    /* letter-spacing: 2px; */
  }
.dogManager-item {
    flex-wrap: nowrap;
    display: flex
;
    align-items: center;
    justify-content: center;
    margin: 3vh auto;
    width: 100%;
    padding: 10px;
    height: auto;
    flex-direction: column;
}
.drawingPaw2,.bgcould,.drawingFish,.drawingshiba{
  display: none;
}
  .dogManager {
    flex-direction: column;
    margin-block: 10vh;
  }

  .dogManager-img {
    width: 100%;
    height: auto;
  }

  .dogManager-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

}
@media screen and (max-width: 767px) {
   .banner-img .text{
    display: none;
  }
}
 
@media screen and (max-width: 430px) {
  .banner-img .text{
    display: none;
  }
  
.colormod-ly,.colormod-rg{
  display: none;
}
    .menucard {
        flex: 1;
        max-width: 80%;
        margin: auto;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        text-align: center;
        transition: transform 0.3s ease;
        z-index: 3;
        background-color: #707070;
        width: 100%;
        height: auto;
        max-height: 188px;
    }
  }
