.reveal {
  opacity: 0;
  transform: translateY(5vh);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
transition-delay: 0.3s;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.ansreveal {
  opacity: 0;
  transform: translateY(-3vh);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.ansreveal.active {
  opacity: 1;
  transform: translateY(0);
}
@media screen and (max-width: 768px) {
  .reveal {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
}