header .header-orderbtn,
header .header-orderbtn-mob {
  display: none !important;
}
  
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        margin: 0;
        background-color: #ffffff;
        font-family: Jua, Arial, "Kiwi Maru", "Noto Sans TC";
        overflow-x: hidden;
      }
      p {
        font-size: 1.3rem;
        margin-bottom: 2px !important;
        letter-spacing: 1px !important;
        line-height: clamp(1.3rem, 6vw, 2.3rem) !important;
      }
      .thank {
        width: 100%;
        margin: 14vh auto 0vh;
        flex:1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      h3 {
        font-size: 1.6rem;
        margin-bottom: 2px !important;
        letter-spacing: 1px !important;
        line-height: clamp(1.3rem, 6vw, 2.3rem) !important;
      }
      .circle {
        position: relative;
      }
   
      .circle .txt {
        bottom: 10%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }

      h2 {
font-size: 2rem;
        margin-top: 2vh;
        margin-bottom: 1vh;
        text-align: center;
        color: #7a6f46;
      }
      h4{
        font-size: 1.3rem;
      }
      .hint {
        display: flex;
        width: 100%;
        max-width: 1200px;
        margin: 5vh auto 0vh;
        flex-direction: column;
        align-content: center;
        align-items: center;
      }
      .hint > p {
        text-align: center;
      }
      .info-item {
    background-color: #ffffe7;
    border-radius: 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 90vw;
    max-width: 800px;
    margin-top: 3vh;
    margin: 2vh auto 0vh;
    align-content: center;
    align-items: center;
    padding: 5vh;
    flex-wrap: nowrap;
    flex-direction: column;
    }
      .btn-item {

    display: none;
    width: 90%;
    margin: 2vh auto;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    }
      input[type="button"] {
        width: 280px;
        margin-inline: 0vh;
        /* gap: 2vh; */
        padding-block: 2vh;
        margin-block: 3vh;
        font-size: 1.3rem;
        background-color: #fcfcc7;
        padding: 1vh;
        padding-inline: 3vh;
        border-radius:32px;
        border: none;
      }
       input[type="button"]:hover,input[type="submit"]:hover{
        background-color: #dbf0da;
        transform: translateY(-5px);
      }
      input[type="button"]:first-child {
        background-color: rgb(231, 231, 231);
      }
      input[type="button"]:hover {
        background-color: #dbf0da;
      }
      .remind {
        display: flex;
        width: 100%;
        max-width: 1200px;
        margin: 3vh auto;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-around;
      }
      .container {
        margin-top: 7vh;
        margin-bottom: 7vh;
        margin-inline: auto;
        position: relative;
        z-index: 1;
        max-width: 1200px;
        width: 100%;
      }
      .container > .txt > p {
        padding: 1vh;
      }

      .map {
        border-radius: 32px;
        overflow: hidden;
        margin-block: 3vh;
      }
      iframe{
        width: 100%;
      }
      .mapbox {
        align-items: center;
        display: flex;
        flex-direction: column;
      }
      .txt > p {
        text-align: center;
        margin-inline: 8%;
      }
       .drawingdog2{
  
position: absolute;
    right: 4vw;
    top: 45vw;
    z-index: -1;
 }

main{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  align-items: stretch;
}
.information{
  flex: 2;
}
@media screen and (max-width: 768px) {

.bgfoodleft{
  opacity: 0;
  
}
.bgcmod-01{
  display: none;
}

}